@tailwind base;
@tailwind components;
@tailwind utilities;


.navbg {
    background: linear-gradient(180deg, #000 24.43%, rgba(11, 19, 21, 0.00) 100%);

}

.navbb {
    background: lightgray 2.897px -579.227px / 100% 247.674% no-repeat;
}

.navbuttom {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.70) 64.11%, rgba(11, 19, 21, 0.00) 102.02%);
}

imgGradient {
    background: linear-gradient(0deg, #000 -5.26%, rgba(0, 0, 0, 0.00) 62.8%);
}

@font-face {
    font-family: "Bernier";
    src: url('../public/assets/font/BERNIER™\ Regular.ttf') format('truetype');
}

.clipo {
    -webkit-clip-path: polygon(24% 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0 17%);
    clip-path: polygon(24% 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0 17%);
}

.clipo2 {
    -webkit-clip-path: polygon(12% 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0 11%);
    clip-path: polygon(12% 0, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0 11%);
}

.clipo3 {
    -webkit-clip-path: polygon(0 0, 77% 0, 100% 33%, 100% 100%, 0 100%, 0 50%);
    clip-path: polygon(0 0, 77% 0, 100% 33%, 100% 100%, 0 100%, 0 50%);

}

.clipo4 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 64%, 74% 100%, 0 100%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 64%, 74% 100%, 0 100%, 0% 80%, 0% 20%);

}

.clipo5 {
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 9%, 100% 100%, 75% 100%, 0 100%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 89% 0, 100% 9%, 100% 100%, 75% 100%, 0 100%, 0% 80%, 0% 20%);

}

.clipo6 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 7%, 100% 73%, 75% 100%, 0 100%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 100% 0, 100% 7%, 100% 73%, 75% 100%, 0 100%, 0% 80%, 0% 20%);

}

.clipo7 {
    -webkit-clip-path: polygon(18% 0, 100% 0, 100% 7%, 100% 73%, 100% 100%, 0 100%, 0% 80%, 0 28%);
    clip-path: polygon(18% 0, 100% 0, 100% 7%, 100% 73%, 100% 100%, 0 100%, 0% 80%, 0 28%);

}



.clipImage2 {
    -webkit-clip-path: polygon(73% 0, 100% 28%, 100% 99%, 0 99%, 0 0);
    clip-path: polygon(73% 0, 100% 28%, 100% 99%, 0 99%, 0 0);
}

.clipImage1 {
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 99%, 0 99%, 0 21%);
    clip-path: polygon(25% 0, 100% 0, 100% 99%, 0 99%, 0 21%);

}

.frstCont {
    -webkit-clip-path: polygon(9% 0, 100% 0, 100% 68%, 91% 100%, 0 100%, 0 27%);
    clip-path: polygon(9% 0, 100% 0, 100% 68%, 91% 100%, 0 100%, 0 27%);
}

.scdCont {
    -webkit-clip-path: polygon(0 0, 92% 1%, 100% 30%, 100% 100%, 8% 100%, 0 71%);

    clip-path: polygon(0 0, 92% 1%, 100% 30%, 100% 100%, 8% 100%, 0 71%);
}

.spcSect {
    -webkit-clip-path: polygon(15% 0, 81% 0, 100% 19%, 100% 85%, 100% 100%, 9% 100%, 0 100%, 0 0);
    clip-path: polygon(15% 0, 81% 0, 100% 19%, 100% 85%, 100% 100%, 9% 100%, 0 100%, 0 0);
}

.spcSect2 {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 43%, 100% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 95% 0, 100% 43%, 100% 100%, 0 100%, 0% 50%);
}

.spcSect3 {
    -webkit-clip-path: polygon(0 0, 93% 0, 100% 15%, 100% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 93% 0, 100% 15%, 100% 100%, 0 100%, 0% 50%);
}

.foodClip {
    -webkit-clip-path: polygon(15% 0, 73% 0, 100% 27%, 100% 85%, 100% 100%, 9% 100%, 0 100%, 0 0);
    clip-path: polygon(15% 0, 73% 0, 100% 27%, 100% 85%, 100% 100%, 9% 100%, 0 100%, 0 0);
}

@media (min-width: 760px) {
    .foodClipe {
        -webkit-clip-path: polygon(0 0, 90% 0, 100% 16%, 100% 100%, 0 100%, 0% 50%);
        clip-path: polygon(0 0, 90% 0, 100% 16%, 100% 100%, 0 100%, 0% 50%);
    }
}



.shapeMenu {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 0 100%, 0 71%);
    clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 0 100%, 0 71%);
}

.shapeMenu2 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 86% 100%, 0 100%, 0 71%);
    clip-path: polygon(0 0, 100% 0, 100% 79%, 86% 100%, 0 100%, 0 71%);
}

.shapeMenu3 {
    -webkit-clip-path: polygon(21% 0, 100% 0, 100% 100%, 86% 100%, 0 100%, 0 22%);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 86% 100%, 0 100%, 0 22%);
}

.shapeMenu4 {
    -webkit-clip-path: polygon(76% 0, 100% 18%, 100% 100%, 86% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 18%, 100% 100%, 86% 100%, 0 100%, 0 0);
}

.shapeMenu5 {
    -webkit-clip-path: polygon(23% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 22%);
    clip-path: polygon(23% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 22%);
}

.lastImg {
    -webkit-clip-path: polygon(23% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 22%);
    clip-path: polygon(23% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 22%);
}

.shapeMenu22 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 75% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 100% 0, 100% 67%, 75% 100%, 0 100%, 0% 50%);
}